/* Layout */
#wrap {
  background-color: $secondary-color;
  width: 85vw;
  min-height: 100vh;
  margin-left: auto;
  padding: 2rem;
}

h1 {
  width: 100%;
  font-size: 32px;
}

main {
  padding: 2rem;
}
