/* Layout */
#wrap {
  background-color: $secondary-color;
  width: 85vw;
  min-height: 100vh;
  margin-left: auto;
  padding: 2em;
}

h1 {
  width: 100%;
  padding: 1em;
  font-size: 22px;
  border-bottom: solid 0.5px $primary-color;
}

main {
  padding: 2em;
}
