/* adminDashboard */

#dashboard {
  & .dashboard__section {
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    & h2 {
      padding: 0.5em;
      text-align: center;
      width: 100%;
    }
  }
}

.dashboard-stock i {
  color: rgb(233, 92, 37);
}

.dashboard-employee {
  & p:nth-child(2) i {
    color: #daa520;
  }
  & p:nth-child(3) i {
    color: gray;
  }
  & p:nth-child(4) i {
    color: #8b4513;
  }
}
