/* Variables */
// Color
$primary-color: #292e35;
$secondary-color: #cedce0;

// $primary-color: #1F2039;
// $secondary-color: #DA9D20;

// Fonts
$font-family-primary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
$font-primary-color: #cccccc;
$font-secondary-color: #0b162c;

// Btn
$btn-primary: #344d59;
